
<section  >
<div>  
  <p>           </p>
</div>
<div>  
  <p>           </p>
</div>
  <div class="container">
    <div class="breadcrumb-content" [ngClass]="{ 'breadcrumb-right' : type == 'breadcrumb-right'}">
      <div [ngClass]="{ 'text-dark' : type == 'effect'}">
        <h2>Carpooling Ask</h2>
        <nav aria-label="breadcrumb" class="theme-breadcrumb">
          <ol class="breadcrumb ms-0">
            <li class="breadcrumb-item">carpooling Offers</li>
            <li class="breadcrumb-item active" aria-current="page">ask</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</section>
