
<div _ngcontent-ng-c1193402911="" class="title-2 ng-star-inserted">
  <h2 _ngcontent-ng-c1193402911="">add ur preferences</h2></div>
<div class="category-property">
  <form>
    <div class="form-group">
      <input type="number" class="form-control" placeholder="buget" required>
    </div>
    <div class="form-group">
      <input type="email" class="form-control" placeholder="location" required>
    </div>
    <div class="form-group">
      <input type="number" class="form-control" placeholder="NbPlaces" required>
    </div>
    <div class="form-group">
    <select _ngcontent-ng-c3857982841="" class="form-control" fdprocessedid="63lpmn">
      <option _ngcontent-ng-c3857982841="" value="">Property Type</option>
      <option _ngcontent-ng-c3857982841="" value="apartment" class="ng-star-inserted">Aller</option>
      <option _ngcontent-ng-c3857982841="" value="family_house" class="ng-star-inserted">ALLER_et_Retour</option>
      <option _ngcontent-ng-c3857982841="" value="villa" class="ng-star-inserted">Retour</option>
    </select>
   </div>
   <div class="form-group">
  
   <h5>do u accept ?</h5>
  </div>
   <div class="form-group">
    <div class="option-setting" style="display: flex; align-items: center;">
      <label class="switch" style="width: 60px;">
          <input  type="checkbox" name="chk1" value="selected" class="setting-check ng-untouched ng-valid ng-dirty">
          <span  class="switch-state"></span>
      </label>
      <span style="margin-left: 10px;">smokers</span>
  </div>
  
    </div>
    

    <div class="form-group">
      <textarea placeholder="Message" class="form-control" rows="3"></textarea>
    </div>
    
    <button type="submit" class="btn btn-gradient color-2 btn-block btn-pill" [routerLink]="['/page/user/my-listing']">add</button>
  </form>
</div>
