<h2>Address</h2>
<p class="font-roboto">Add your property Location</p>
<form class="row gx-3" novalidate [formGroup]="myForm">
  <div class="form-group col-sm-6">
    <label>Delegation</label>
    <input type="text" class="form-control" placeholder="Delegation of your property" formControlName="address" [ngClass]="{ 'is-invalid' : (address?.touched || validate) && address?.errors , 'is-valid' : !address?.errors}"required [(ngModel)]="delegation">
  </div>
  <div class="form-group col-sm-6">
    <label>Zip code</label>
    <input type="number" class="form-control" placeholder="39702" formControlName="pin_code" [ngClass]="{ 'is-invalid' : (pin_code?.touched || validate) && pin_code?.errors , 'is-valid' : !pin_code?.errors}"required [(ngModel)]="code">
  </div>

  <div class="form-group col-sm-4">
    <label>Location</label>
    <input type="text" class="form-control" placeholder="Location" formControlName="landmark" [ngClass]="{ 'is-invalid' : (landmark?.touched || validate) && landmark?.errors , 'is-valid' : !landmark?.errors}"  required [(ngModel)]="loc">
  </div>  
  
</form>
<div class="map-container" style="height: 400px; " id="map" >
</div>
<div class="next-btn d-flex">
  <button type="button" class="btn btn-dashed color-2 prev1 btn-pill" (click)="previous()"><i class="fas fa-arrow-left me-2"></i> Previous</button>
  <button type="button" class="btn btn-gradient color-2 next2 btn-pill" (click)="next(myForm,loc)">Next <i class="fas fa-arrow-right ms-2"></i></button>
</div>
