<div class="left-sidebar sticky-cls single-sidebar">
  <div class="filter-cards">
  
    <div class="advance-card">
      
      <div _ngcontent-ng-c1193402911="" class="title-2 ng-star-inserted">
        <h2 _ngcontent-ng-c1193402911="">Add Your Preferences</h2></div>


<div class="category-property">
  
    <div class="form-group">
      <input type="number" class="form-control" placeholder="budget" required [(ngModel)]="floors">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="location" required [(ngModel)]="getlocation">
    </div>
    <div class="form-group">
      <input type="number" class="form-control" placeholder="NbPlaces" required [(ngModel)]="nbplaces">
    </div>
    <div class="form-group">
   

      <select class="form-control" fdprocessedid="63lpmn" required [(ngModel)]="carpoolingtype">
        <ng-container> <option value=""  class="ng-star-inserted">Carpooling Type</option>
          <option value="Aller"  class="ng-star-inserted" >Aller</option>
          <option value="Aller_et_Retour"  class="ng-star-inserted">Aller_et_Retour</option>
          <option value="Retour"  class="ng-star-inserted">Retour</option></ng-container>
       
    </select>
    
    
   
   </div>
   <div class="form-group">
  
   <h5>Do you tolerate ?</h5>

    <div class="option-setting" style="display: flex; align-items: center;">
      <label class="switch" style="width: 60px;">
          <input  type="checkbox" name="chk1"  value="true"  required [(ngModel)]="smoking" class="setting-check ng-untouched ng-valid ng-dirty">
          <span  class="switch-state"></span>
      </label>
      <span style="margin-left: 10px;">smoking</span>
  </div>
  

  
  <div class="option-setting" style="display: flex; align-items: center;">
    <label class="switch" style="width: 60px;">
        <input  type="checkbox" name="chk1" value="true"  required [(ngModel)]="climatise" class="setting-check ng-untouched ng-valid ng-dirty">
        <span  class="switch-state"></span>
    </label>
    <span style="margin-left: 10px;">Air conditioner</span>
</div>



<div class="option-setting" style="display: flex; align-items: center;">
  <label class="switch" style="width: 60px;">
      <input  type="checkbox" name="chk1" value="true"  required [(ngModel)]="chaufage"  class="setting-check ng-untouched ng-valid ng-dirty">
      <span  class="switch-state"></span>
  </label>
  <span style="margin-left: 10px;">Heater</span>
</div>


<div class="option-setting" style="display: flex; align-items: center;">
  <label class="switch" style="width: 60px;">
      <input  type="checkbox" name="chk1"  value="true"  required [(ngModel)]="radionopen" class="setting-check ng-untouched ng-valid ng-dirty">
      <span  class="switch-state"></span>
  </label>
  <span style="margin-left: 10px;">open radio</span>
</div>
  
    </div>
    

    <div class="form-group">
      <textarea placeholder="Message" class="form-control" rows="6" style="height: 150px;" required [(ngModel)]="desc"></textarea>
  </div>
    
    <button type="submit" class="btn btn-gradient color-2 btn-block btn-pill" (click)="addPreferces(1, floors,getlocation,nbplaces,carpoolingtype,chaufage,radionopen,smoking,climatise,desc)">add</button>
  
</div>

    </div>
 

  
  </div>
</div>
