<link rel="preconnect" href="https://fonts.googleapis.com">
        
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;300;400;600;700&display=swap" rel="stylesheet">

<link href="/assets/frontOffice/assets/css/bootstrap.min.css" rel="stylesheet">

<link href="/assets/frontOffice/assets/css/bootstrap-icons.css" rel="stylesheet">

<link href="/assets/frontOffice/assets/css/owl.carousel.min.css" rel="stylesheet">

<link href="/assets/frontOffice/assets/css/tooplate-moso-interior.css" rel="stylesheet">
<link href="/assets/frontOffice/assets/css/tooplate-moso-interior.css" rel="stylesheet">

<header class="header-area header-sticky">
 
    <nav class="navbar navbar-expand-lg bg-light fixed-top shadow-lg">
        <div class="container">
            <a class="navbar-brand" href="index.html">Co <span class="tooplate-red">&</span><span class="tooplate-green">Co</span></a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link click-scroll" href="#section_1">Home</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle click-scroll" href="#section_3" id="navbarLightDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Carpooling</a>

                        <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarLightDropdownMenuLink">
                            <li><a class="dropdown-item" [routerLink]="'/Carpooling/addC'">Azaabr</a></li>

                            <li><a class="dropdown-item"  [routerLink]="'/Carpooling/askC'">zab2</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle click-scroll" [routerLink]="'/Collocation/showOffer'" id="navbarLightDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Collocation</a>

                        <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarLightDropdownMenuLink">
                            <li><a class="dropdown-item" [routerLink]="'/Collocation/addOffer'">Add Collocation Offer</a></li>

                          
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link click-scroll" href="#section_4">Charity</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link click-scroll" href="#section_5">Contact</a>
                    </li>
                    
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#pablo" id="navbarDropdownProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="material-icons">person</i>
                          <p class="d-lg-none d-md-block">
                            Account
                          </p>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownProfile">
                          <a class="dropdown-item" href="#">Profile</a>
                          <a class="dropdown-item" href="#">Settings</a>
                          <a class="dropdown-item" [routerLink]="'/Preferences/addPreferences'">Preferences</a>

                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="#">Log out</a>
                        </div>
                      </li>
                </ul>
            </div>
        </div>
    </nav>

  </header>
  <script src="/assets/frontOffice/assets/js/jquery.min.js"></script>
<script src="/assets/frontOffice/assets/js/bootstrap.min.js"></script>
<script src="/assets/frontOffice/assets/js/click-scroll.js"></script>
<script src="/assets/frontOffice/assets/js/jquery.backstretch.min.js"></script>
<script src="/assets/frontOffice/assets/js/owl.carousel.min.js"></script>
<script src="/assets/frontOffice/assets/js/custom.js"></script>